:root {
    --primary_color: #81CAC1;
    --secondary_color: #EBECEC;
    --serif_font: 'Josefin Slab';
    --sansserif_font: 'Montserrat';
}
.hero {
    background: var(--secondary_color);
    text-align: center;
    padding: 80px 20px;
    max-width: 75%;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
}
p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
h1 {
    font-family: var(--serif_font);
    font-style: italic;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
}
.hero h2 {
    font-family: var(--sansserif_font);
    font-weight: bold;
}
.content-container {
    text-align: center;
    padding: 160px 0;
    margin-top: 50px;
}
img {
    height: 300px;
}
.about-section img {
    max-height: 600px;
}

.about-section, .content h2 {
    font-size: 36px;
}
.about-section p {
    font-family: var(--sansserif_font);
    font-size: 20px;
    font-weight: light;
    line-height: 2;
}
