:root {
    --primary_color: #81CAC1;
    --secondary_color: #EBECEC;
}
.hero {
    background: var(--secondary_color);
    text-align: center;
    padding: 160px 0;
    max-width: 75%;
    margin: auto;
    margin-top: 100px;
}
p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
.hero h1 {
    font-family: 'Josefin Slab', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
}
.hero h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.container {
    text-align: center;
    padding: 160px 0;
    margin-top: 50px;
}
img {
    height: 300px;
}